@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fonts */
/* Cocogoose Pro Regular */
@font-face {
  font-family: "Cocogoose Pro Regular Trial";
  src: url("../fonts/cocogoose-pro-regular/Cocogoose Pro Regular Trial.eot");
  src: url("../fonts/cocogoose-pro-regular/Cocogoose Pro Regular Trial.eot?#iefix")
    format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CocogoosePro";
  src: url("../fonts/cocogoose-pro-regular/CocogoosePro.svg#CocogoosePro")
      format("svg"),
    url("../fonts/cocogoose-pro-regular/CocogoosePro.ttf") format("truetype"),
    url("../fonts/cocogoose-pro-regular/CocogoosePro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Cocogoose Pro Light */
@font-face {
  font-family: "Cocogoose Pro Light Trial";
  src: url("../fonts/cocogoose-pro-light/Cocogoose Pro Light Trial.eot");
  src: url("../fonts/cocogoose-pro-light/Cocogoose Pro Light Trial.eot?#iefix")
    format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CocogoosePro-Light";
  src: url("../fonts/cocogoose-pro-light/CocogoosePro-Light.svg#CocogoosePro-Light")
      format("svg"),
    url("../fonts/cocogoose-pro-light/CocogoosePro-Light.ttf")
      format("truetype"),
    url("../fonts/cocogoose-pro-light/CocogoosePro-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Cocogoose Pro Thin */
@font-face {
  font-family: "Cocogoose Pro Thin Trial";
  src: url("../fonts/cocogoose-pro-thin/Cocogoose Pro Thin Trial.eot");
  src: url("../fonts/cocogoose-pro-thin/Cocogoose Pro Thin Trial.eot?#iefix")
    format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CocogoosePro-Thin";
  src: url("../fonts/cocogoose-pro-thin/CocogoosePro-Thin.svg#CocogoosePro-Thin")
      format("svg"),
    url("../fonts/cocogoose-pro-thin/CocogoosePro-Thin.ttf") format("truetype"),
    url("../fonts/cocogoose-pro-thin/CocogoosePro-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #353836;
  color: white;
  font-family: "CocogoosePro";
}

.testBlock {
  height: 500px;
  background-color: aquamarine;
  border: 1px solid black;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

main {
  margin-top: 50px;
}

#logo {
  display: flex;
  align-self: flex-start;

  align-items: center;
  max-height: 50px;
}

#logo a {
  width: 100%;
  max-height: 50px;
}

#logo img {
  width: 100%;
  padding: 5px;
  max-height: 50px;
}

#contactBtn {
  display: none;
  background-color: #707070;
  color: #ffffff;
  font-family: "CocogoosePro";
  width: 150px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  border: none;
  border-radius: 15px;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: #1a6dd9;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

/* ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
} */

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #1a6dd9;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  background-color: #1a6dd9;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10;
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #ffffff;
}

.open .mobile-menu a {
  color: #ffffff;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

.extended {
  background-color: #1a6dd9;
}

.extended #hamburger-icon div {
  background-color: #ffffff;
}

.extended #logo {
  display: none;
}

/* .extended #contactBtn {
  display: none;
} */

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

/* prevent scrolling when the mobile menu is opened */
.lock-scroll {
  overflow: hidden;
}
